body {
    text-align: center;
    background-color: antiquewhite;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:slateblue;
}
h1{
    color:darkcyan;

}